﻿@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <style>
        
        #form {
            position: absolute;
            top: 0;
            left: 0;
            width: 20em;
            background:
            rgba(255,255,255,.5);
            z-index: 500;
            margin-top: 20px;
            margin-left: 60px;
        }

        #explanation{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 12em;
            background:
            rgba(255,255,255,.8);
            z-index: 500;
            margin-bottom: 40px;
            margin-right: 20px;
            float: right;
            padding-left: 5px;
        }

        input, label, h4 {
            margin: 10px 10px 10px 10px;
        }
        
            
    </style>

</head>
<body>
    
    
    <div id="container">

        <div id="mapid" style="width: 100%; height: 1300px;"></div>

        <div id="form">
            <div>
                <h4 id="stopName">Click a stop to select it</h4>
            </div>
            <div>
                <label for="time">Trip start</label>
            </div>
            <div>
                <input id="time" name="time" type="datetime-local" min="2018-06-07T00:00" max="2018-06-14T00:00">
            </div>
            <div>
                <input id="submit" type="submit" value="Show coverage"/>
            </div>
        </div>

        <div id="explanation">
            <p>📗 0-20 minutes</p>
            <p>📒 20-40 minutes</p>
            <p>📙 40-60 minutes</p>
            <p>📕 60-90 minutes</p>
            <p>⚫ Over 120 minutes</p>
        </div>
    </div>
    <script>
        function date() {
            return new Date(document.getElementById("time").value);
        }

        function startSeconds() {
            return date().getHours() * 3600 + date().getMinutes() * 60;
        }

        var map = L.map('mapid').setView([60.2, 25], 10);
        var circles = L.featureGroup();

        circles.on("click", function (event) {
            SelectMarker(event.layer);
        });

        var stops = {};
        var selectedStop = null;

	    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            minZoom: 10,
		    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		    id: 'mapbox.streets'
        }).addTo(map);

        map.setMaxBounds(L.latLngBounds(L.latLng(60.43, 25.87), L.latLng(59.96, 24.12)));


        $.getJSON("api/TransitData/Stops", function (data) { 

            for (var i = 0; i < data.length; i++)
            {
                AddMarker(0, 0, 255, data[i].latitude, data[i].longitude, data[i]);
            }

            map.addLayer(circles);
        });

        function fetchStops() {

            if (selectedStop != null) {
                var start = startSeconds();
                $.getJSON("api/TransitData/StopTimes?stop=" + selectedStop.id + "&time=" + document.getElementById("time").value, function (data) {

                    ClearMap();

                    for (var i = 0; i < data.length; i++) {
                        var time = data[i].time - start;

                        var red = 0;
                        var green = 0;
                        var blue = 0;

                        /*
                         0-20: Green
                         20-40 Yellow
                         40-60 Orange
                         60-90 Red
                         >90 Black
                         */

                        if (time <= 2400) {
                            green = 255;
                        }
                        else if (time <= 3600) {
                            green = 125;
                        }
                        if (time >= 1200 && time <= 5400) {
                            red = 255;
                        }
                        AddMarker(red, green, blue, data[i].latitude, data[i].longitude, data[i])

                    }

                    map.addLayer(circles);
                });
            }
            
        }

        function SelectMarker(marker) {
            selectedStop = stops[marker._leaflet_id];
            document.getElementById("stopName").innerHTML = selectedStop.name;
        }

        function AddMarker(red, green, blue, latitude, longitude, stop) {
            var color = rgbToHex(red, green, blue);
            var circle = L.circle([latitude, longitude], { radius: 100, color: color.split('.')[0], fill: true, fillOpacity: 0.5 }).addTo(circles);
            stops[circle._leaflet_id] = stop;
        }

        function ClearMap() {
            if (map.hasLayer(circles)) {
                map.removeLayer(circles);
                circles.clearLayers();
                circles = L.featureGroup();
                circles.on("click", function (event) {
                    SelectMarker(event.layer);
                });
            }

            stops = {};
        }

        function rgbToHex(r, g, b) {
            return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
        }

        $("#submit").click(function () {
            fetchStops();
        });


    </script>



</body>
</html>
